/* RESPONSIVE SECTION START FROM HERE */
/* DESIGN FOR MOBILE OR SMALL DEVICE STERT FORM HERE */
@media only screen and (max-width:688px) {
    section {
        padding: 0px 5% 30px;
    }

    .title {
        font-size: 30px;
        line-height: 20px;
    }

    #welcome-section {
        flex-direction: column-reverse;
    }

    #welcome-section .welcome-text,
    #welcome-section .welcome-image {
        width: 100%;
    }

    #welcome-section .welcome-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin: 10px 0px;
    }

    #my-mission .card-container {
        flex-direction: column;
        padding: 30px 0px;
    }

    #my-mission .card-container .card {
        margin: 10px 0px;
    }

    #development,
    #community {
        flex-direction: column;
    }
    .image img{
        width: 100%;
    }
    .image,
    .article {
        width: 100%;
        display: flex;
        margin: 10px 0px;
    }
    #message .container {
        flex-direction:column-reverse;
        padding-top: 50px;
    }
    #message .container .message-form {
        width: 100%;
    }
    .footer-title {
        font-size: 30px;
        line-height: 50px;
    }
    #footer .paragraph {
        text-align: center;
        font-size: 14px;
    }
    
}

/* DESIGN FOR MOBILE OR SMALL DEVICE END HERE */
/* RESPONSIVE SECTION END HERE */