* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 0px 5% 100px;
    display: flex;
}

h1 {
    font-family: 'Yeseva One', cursive;
}

a {
    text-decoration: none;
}

uo,
ol {
    list-style: none;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    text-transform: uppercase;
}

.title span {
    color: #FFAD5A;
}

.paragraph {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}

.button {
    display: inline-block;
    font-size: 18px;
    background: rgb(89, 35, 185);
    color: white;
    border-radius: 5px;
    font-weight: 400;
    padding: 10px 35px;
    margin: 10px 0px;
    text-transform: capitalize;
}

/* WELCOME SECTION START FROM HERE */
#welcome-section {
    justify-content: space-between;
    align-items: center;
}

#welcome-section .welcome-text,
#welcome-section .welcome-image {
    width: 50%;
}

#welcome-section .welcome-text h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #333333;
}

#welcome-section .welcome-text h1 span {
    color: #FFAD5A;
}

#welcome-section .welcome-image img {
    width: 100%;
}

/* WELCOME SECTION END HERE */
/* MY MISSION SECTION START FROM HERE  */
#my-mission {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#my-mission .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

#my-mission .card-container .card {
    width: 360px;
    height: 376px;
    padding: 10px 15px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 8px;
}

#my-mission .card-container .card img {
    width: 141px;
    height: 141px;
}

#my-mission .card-container .card .card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0px;
}
#my-mission .card-container .card:nth-child(1) {
    background: rgba(79, 157, 166, 0.1);
}
#my-mission .card-container .card:nth-child(2) {
    background: rgba(255, 89, 89, 0.1);
}
#my-mission .card-container .card:nth-child(3) {
    background: #FFF4D6;
}
/* MY MISSION SECTION END HERE */